{% load staticfiles %}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>Swim Record DB</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/swimrecord.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta name="viewport" content="width=device-width">
</head>
<body>
    <div class="page-header">
        <div id="nav-drawer">
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
                <div class="page-header">
                    <h2 style="color: white">Menu</h2>
                </div>
                  <ul class="hm_list">
                      <li><a href="{% url 'team_list' %}" style="font-size: large">大学一覧</a></li>
                      <li><a href="{% url 'meeting_list' %}" style="font-size: large">大会一覧</a></li>
                      <li><a href="{% url 'event_list' %}" style="font-size: large">種目別ランキング</a></li>
                  </ul>
              </div>
        </div>


        <h1><a href="/">Swim Record DB</a></h1>

    </div>

    <div class="content container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>