{% extends 'swimrecord/_base.html' %}
{% load custom_filter %}

{% block content %}
<div class="info">
    <h1>氏名:{{ object.name }}</h1>
    <ul>
        <li>所属:<a href="{% url 'team_detail' pk=object.team.pk %}">{{ object.team.name }}</a></li>
        <li>学年:{{ object.grade }}</li>
    </ul>
</div>
    <br>
<div class="content">
    <h2>Best</h2>
    <h3>長水路</h3>
    <table class="long">
        <tbody>
        <tr>
            <td>種目</td>
            <td>記録</td>
            <td>偏差値</td>
            <td>大会</td>
        </tr>
        {% for record in data.long %}
            <tr>
                <td><a href="{% url 'event_detail' pk=record.best.event.pk %}">{{ record.best.event }}</a></td>
                <td>{{ record.best.record|time_to_str }}</td>
                <td>{{ record.deviation }}</td>
                <td><a href="{% url 'meeting_event' pk=record.best.meeting.pk event_pk=record.best.event.pk %}">{{ record.best.meeting }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>

    <h3>短水路</h3>
    <table class="short">
        <tbody>
            <tr>
                <td>種目</td>
                <td>記録</td>
                <td>偏差値</td>
                <td>大会</td>
            </tr>
            {% for record in data.short %}
                <tr>
                    <td><a href="{% url 'event_detail' pk=record.best.event.pk %}">{{ record.best.event }}</a></td>
                    <td>{{ record.best.record|time_to_str }}</td>
                    <td>{{ record.deviation }}</td>
                    <td><a href="{% url 'meeting_event' pk=record.best.meeting.pk event_pk=record.best.event.pk %}">{{ record.best.meeting }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <h2>History</h2>
    <table>
        <tr>
            <td>種目</td>
            <td>記録</td>
            <td>大会</td>
        </tr>
        {% for record in history %}
            <tr>
                <td><a href="{% url 'event_detail' pk=record.event.pk %}">{{ record.event }}</a></td>
                <td>{{ record.record|time_to_str }}</td>
                <td><a href="{% url 'meeting_event' pk=record.meeting.pk event_pk=record.event.pk %}">{{ record.meeting }}</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

<br>
<br>
{% endblock %}